<!--Carrusel -->
<div class="container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/SlideBienvenida.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/SlideVision.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/img/SlideMision.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!--Carrusel -->
<br>
<br>
<!--Cards Productos -->

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card w-100" style="width: 18rem;">
                <img src="assets/img/AlimentoImg.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Alimentos concentrados</h5>
                    <p class="card-text text-center">Variedad de alimentos concentrados para todo tipo de mascota y
                        dietas.</p>
                    <a href="#" class="btn btn-warning w-100">Ver mas</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card w-100" style="width: 18rem;">
                <img src="assets/img/Accesorios.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Accesorios para Mascotas</h5>
                    <p class="card-text text-center">Todo los accesorios y juguetes para tu mejor amigo.</p>
                    <br>
                    <a routerLink="/administracion/listar-productosPlanes" class="btn btn-warning w-100">Ver mas</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card w-100" style="width: 18rem;">
                <img src="assets/img/planes.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Planes para Mascotas</h5>
                    <p class="card-text text-center">Diferentes planes para el cuidado de la salud y la estetica de
                        tu mascota.</p>
                    <a href="#" class="btn btn-warning w-100">Ver mas</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card w-100" style="width: 18rem;">
                <img src="assets/img/veterinaria.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Atencion Veterinaria</h5>
                    <p class="card-text text-center">Contamos con los mejores veterinarios y los mejores equipos
                        para el cuidado y proteccion de tu mejor amigo.</p>
                    <br>
                    <a href="#" class="btn btn-warning w-100">Ver mas</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card w-100" style="width: 18rem;">
                <img src="assets/img/grooming.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Grooming</h5>
                    <p class="card-text text-center">Los mejores Groomer estan con nosotros para estilizar a tu
                        peludo.</p>
                    <a href="#" class="btn btn-warning w-100">Ver mas</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card w-100" style="width: 18rem;">
                <img src="assets/img/Guarderia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title text-center">Guarderia</h5>
                    <br>
                    <p class="card-text text-center">¿No tienes con quien dejar a tu peludito duarante tu viaje?,
                        nosotros lo cuidamos por ti.</p>
                    <br>
                    <a href="#" class="btn btn-warning w-100">Ver mas</a>
                </div>
            </div>
        </div>

    </div>
</div>
<!--Cards Productos -->
<br>
<br>