<!-- Footer -->
<div class="container">
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-dark btn-floating m-1" href="https://www.facebook.com/" role="button">
                    <i class="fab facebook-f">
                        <img src="assets/img/facebook.png" width="30" alt="">
                    </i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-dark btn-floating m-1" href="https://www.instagram.com/" role="button">
                    <i class="fab facebook-f">
                        <img src="assets/img/instagram.png" width="30" alt="">
                    </i>
                </a>

                <!-- WhatsApp -->
                <a class="btn btn-dark btn-floating m-1" href="https://www.whatsapp.com/" role="button">
                    <i class="fab facebook-f">
                        <img src="assets/img/whatsapp.png" width="30" alt="">
                    </i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-dark btn-floating m-1" href="https://twitter.com/" role="button">
                    <i class="fab facebook-f">
                        <img src="assets/img/twitter.png" width="30" alt="">
                    </i>
                </a>

                <!-- Google -->
                <a class="btn btn-dark btn-floating m-1" href="https://www.google.com/" role="button">
                    <i class="fab facebook-f">
                        <img src="assets/img/google.png" width="30" alt="">
                    </i>
                </a>

                <!-- Linkedin -->
                <a class="btn btn-dark btn-floating m-1" href="https://www.linkedin.com/" role="button">
                    <i class="fab facebook-f">
                        <img src="assets/img/linkedin.png" width="30" alt="">
                    </i>
                </a>

                <!-- Github -->
                <a class="btn btn-dark btn-floating m-1" href="https://github.com/" role="button">
                    <i class="fab facebook-f">
                        <img src="assets/img/github.png" width="30" alt="">
                    </i>
                </a>
            </section>
            <!-- Section: Social media -->

            <!-- Formulario contaco -->
            <div class="dropdown-divider"></div>

            <!-- Section: Text -->
            <section class="mb-4">
                <p class="fst-italic">
                    "Hasta que no hayas amado a un animal, una parte de tu alma permanecerá dormida" (Anatole
                    France)
                </p>

            </section>
            <!-- Section: Text -->

        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Soluciones Improvisadas
        </div>
        <!-- Copyright -->
    </footer>
    

</div>
<!-- Footer -->